<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="styleses.css">
</head>
  <body>
              <nav class="navbar navbar-default">
                <div class="container">
                  <ul class="nav navbar-nav">
                    


                    <% if(datas){ %>
                      <li><a>Teacher class</a></li>
                      <% }else{%>
                        <li><a href="/classname/<%= records.teacher_uid  %> " class="dropdown-item">Teacher class</a></li>
                      <% }%>
                    
                    <li><a href="/classList/<%= records.teacher_uid  %>" class="dropdown-item"> Class List</a></li>
                    <li><a href="/teacher-admin-panel/logouts">Logout</a></li>
                    
                    <% if(result.length >0){
                      result.forEach(function(row){
                      %>

                      <% if(row.teacher_uid){ %>
                        <li><a href="/studentUser/<%= row.class_name %>"><%= row.class_name  %></a></li>
                        <% }%>
                        

                      <%  }) } %> 
                  </ul>
                </div>
              </nav>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <script src="main.js" defer></script>
       </body>
</html>
     